/* html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
} */

body{
    padding: 0;
    margin: 0;
}

h1#h1-title{
    color: white;
}

#storico{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-size: 30px;
}

#area{
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    max-height: 400px;
}

i#home{
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
}
div#edit{
    width: 800px;
    height: 500px;
    margin: auto;
}
#icon-edit{
    color: white;
}
.edit-modal{
    padding-bottom: 15px; 
}