body {
    padding: 0;
    margin: 0;
}

h1#h1-title {
    color: white;
}

#storico {
    font-size: 20px;
    font-size: 30px;
}

#area {
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    max-height: 400px;
}

i#home {
    text-decoration: none;
    color: white;
    margin-top: 5px
}

a {
    text-decoration: none;
}

#icon-edit {
    color: white;
    margin-top: 5px;
}

.input-modal {
    padding-bottom: 15px;
}